
@{
    ViewBag.Title = "New";
}

<h2>Creare Produs</h2>


<form method="post" action="/Product/New">
    <label>Id</label>
    <input type="text" name="ProductId" />
    <label>userId</label>
    <input type="text" name="UserId" />
    <label>category</label>
    <input type="text" name="CategoryId" />
    <label>category</label>
    <input type="text" name="CategoryId" />
    <label>name</label>
    <input type="text" name="ProductName" />
    <label>description</label>
    <input type="text" name="Description" />
    <label>photo</label>
    <input type="text" name="Photo" />
    <label>pret</label>
    <input type="text" name="Price" />
    <label>discount</label>
    <input type="text" name="Discount" />
    <label>rating</label>
    <input type="text" name="Rating" />


    <button type="submit">Adauga produs</button>
</form>
