
@{
    ViewBag.Title = "New";
}

<h2>Creare Produs</h2>


<form method="post" action="/Product/New">
    <label>Id</label>
    <input type="text" name="ProductId" /><br />
    <label>userId</label>
    <input type="text" name="UserId" /><br />
    <label>category</label>
    <input type="text" name="CategoryId" /><br />
    <label>nume produs</label>
    <input type="text" name="ProductName" /><br />
    <label>description</label>
    <input type="text" name="Description" /><br />
    <label>photo</label>
    <input type="text" name="Photo" /><br />
    <label>pret</label>
    <input type="text" name="Price" /><br />
    <label>discount</label>
    <input type="text" name="Discount" /><br />
    <label>rating</label>
    <input type="text" name="Rating" /><br />


    <button type="submit">Adauga produs</button>
</form>
